{% extends 'base.html' %}

{% block content %}

{% for category in category_list %}
<div class="card mb-3 post">
    <div class="row no-gutters">
            <div class="card-header">
                {{category.slug}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{category.label}}</h5>
            </div>
        </div>
    </div>
</div>
{% empty %}

<p class="text-center font-weight-bold">
    There are no posts yet for this category, let's create some :D
</p>

{% endfor %}

{% endblock %}